
body{
	background-image: url("../../assets/images/Crystal-hands.jpg");
	background-repeat: no-repeat;
	background-color: black;
	align-items: center;
}

h1, h2{
	color: white;
	align-content: center;

}

footer{
	
}